<h1><%=@pirates.name%></h1>
<h2><%=@pirates.weight%></h2>
<h2><%=@pirates.height%></h2>

<br>

<h2><%=@ships[0].name%></h2>
<h2><%=@ships[0].type%></h2>
<h2><%=@ships[0].booty%></h2>

<br>

<h2><%=@ships[1].name%></h2>
<h2><%=@ships[1].type%></h2>
<h2><%=@ships[1].booty%></h2>
