
<h1>Pirate name: <%=@pirates.name%></h1>
<h2>Pirate weight: <%=@pirates.weight%> lbs.</h2>
<h2>Pirate height: <%=@pirates.height%> feet</h2>

<br>

<h2><%=@ships[0].name%></h2>
<h2><%=@ships[0].type%></h2>
<h2><%=@ships[0].booty%></h2>

<br>

<h2><%=@ships[1].name%></h2>
<h2><%=@ships[1].type%></h2>
<h2><%=@ships[1].booty%></h2>
